.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: orange;}
nav li a{color: gray}
input{border-radius: 75%;}
body{
    background-color: gray;
    color: white;

}